.login-info-box {
    border:solid;
    border-color:#ffff99;
    width:100%;
    overflow:hidden;
}

.login-info {
    float:left;
    padding:3px;
}

#user-profile {
    border-radius:50%;
    width:36px;
    height:36px;
}

.logout-button {
    float:right;
}

.div-body-header {
    text-align:center;
    background-color:aqua;
}